In [144]:
import numpy as np
import pandas as pd
import os
import re

展示文件夹选项
======

In [2]:
def showDir (FileList):
    for index, name in enumerate(FileList)  :
        print(index, name)
    return 0

In [3]:
def checkFile(FileName,FileList) :
    key = 0
    for str in FileList:
        if str == FileName:
            key = 1
            break
    return key

In [45]:
df_raw = pd.DataFrame()#全局记录nmr数据
df_sample = pd.DataFrame(['number','name','sample','temperature'])#全局记录样品信息
df_sample

             0
0       number
1         name
2       sample
3  temperature

打开已有的文件记录
======

In [46]:
str_tp = ''
#建立一个临时字符串存放地址
mainPath = r'C:\Users\ikeno\Desktop\Pojects'
fileList = os.listdir(mainPath)
showDir(fileList)

0 20240522
1 DailyPot_20240502
2 DataProcessing
3 DataProcessing_test
4 DataToCheck
5 Guanidinium phosphate
6 poject_Panel
7 新規 Microsoft Excel ワークシート.xlsx

0

In [47]:
str = input('Choose a work log')
try:
    newPath_log = os.path.join(mainPath,fileList[int(str)])
    df_raw = pd.read_csv(os.path.join(newPath_log,'MSE_GP.csv'),index_col=0,header =None)
    df_sample = pd.read_csv(os.path.join(newPath_log,'GP.csv'),index_col=0)
except:
    newPath_log  = os.path.join(mainPath,str)
    df_raw = pd.read_csv(os.path.join(newPath_log ,'MSE_GP.csv'),index_col=0,header =None)
    df_sample = pd.read_csv(os.path.join(newPath_log ,'GP.csv'),index_col=0)
finally:
    df_raw=df_raw.T.reset_index(drop=True).iloc[:,1:]
    df_raw=df_raw.T.reset_index(drop=True)
    print(df_raw)
    print(df_sample)
    newPath = mainPath

              0          1          2          3          4          5    \
0            time       -0.0    0.00064    0.00128    0.00192    0.00256
1  CHS_T1-mse.dps  64.139784  62.354074  61.206378  60.383524  59.649103
2            time       -0.0    0.00064    0.00128    0.00192    0.00256
3  No1_273K-0.dps  22.471899  21.246499   20.72383  19.558207  18.333394

         6          7          8          9    ...        302        303  \
0     0.0032    0.00384    0.00448    0.00512  ...    0.19264    0.19328
1  58.879769   58.07127  57.305646  56.567364  ...  23.996985  23.951022
2     0.0032    0.00384    0.00448    0.00512  ...    0.19264    0.19328
3  17.599896  17.100805  16.240761  15.032824  ...   0.083843   0.021524

         304        305        306        307       308        309       310  \
0    0.19392    0.19456     0.1952    0.19584   0.19648    0.19712   0.19776
1  23.942275  23.907539  23.829183  23.702357  23.58252  23.546848  23.56838
2    0.19392    0.19456     0.1952    0.19584   0.19648    0.19712   0.19776
3   0.050629   0.383748   0.803938   0.923685  0.722834   0.430218  0.174093

         311
0     0.1984
1  23.590292
2     0.1984
3  -0.037127

[4 rows x 312 columns]
             0             0.1             0.2
0       number             NaN             NaN
1         name  CHS_T1-mse.dps  No1_273K-0.dps
2       sample             CHS             No1
3  temperature            273K            273K

声明路径
======

In [143]:
print('Now in ' + newPath)
showDir(fileList)

Now in C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data
0 273K
1 283K
2 298k
3 308K
4 318K
5 328K
6 338k
7 348K
8 CHS_T1_273K-0.dps
9 CHS_T1_283K-0.dps
10 CHS_T1_298K-0.dps
11 CHS_T1_308K-0.dps
12 CHS_T1_318K-0.dps
13 CHS_T1_328K-0.dps
14 CHS_T1_338K-0.dps
15 CHS_T1_348K-0.dps
16 No1_273K-0.dps
17 No1_283K-0.dps
18 No1_298K-0.dps
19 No1_308K-0.dps
20 No1_318K-0.dps
21 No1_328K-0.dps
22 No1_338K-0.dps
23 No1_348K-0.dps
24 No2_273K-0.dps
25 No2_283K-0.dps
26 No2_298K-0.dps
27 No2_308K-0.dps
28 No2_318K-0.dps
29 No2_328K-0.dps
30 No2_338K-0.dps
31 No2_348K-0.dps
32 No3_273K-0.dps
33 No3_283K-0.dps
34 No3_298K-0.dps
35 No3_308K-0.dps
36 No3_318K-0.dps
37 No3_328K-0.dps
38 No3_338K-0.dps
39 No3_348K-0.dps
40 S7_273K-0.dps
41 S7_283K-0.dps
42 S7_298K-0.dps
43 S7_308K-0.dps
44 S7_318K-0.dps
45 S7_328K-0.dps
46 S7_338K-0.dps
47 S7_348K-0.dps

0

打开文件夹
======

In [142]:
str_tp = input('Input document to open:or back to main , or skip')
if str_tp == 'back':
    newPath = mainPath
    fileList =os.listdir(newPath)
elif str_tp == 'skip':
    print('Still in' + newPath)
else :
    try:
        newPath= os.path.join(newPath,fileList[int(str_tp)])
        fileList =os.listdir(newPath)
    except os.path.join(mainPath,str_tp):
        newPath= os.path.join(newPath,str_tp)
        fileList =os.listdir(newPath)
    except FileNotFoundError:
        print('Wrong dir!')
    finally:
        print('goto ' + newPath)
showDir(fileList)
str_tp =''

goto C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data
0 273K
1 283K
2 298k
3 308K
4 318K
5 328K
6 338k
7 348K
8 CHS_T1_273K-0.dps
9 CHS_T1_283K-0.dps
10 CHS_T1_298K-0.dps
11 CHS_T1_308K-0.dps
12 CHS_T1_318K-0.dps
13 CHS_T1_328K-0.dps
14 CHS_T1_338K-0.dps
15 CHS_T1_348K-0.dps
16 No1_273K-0.dps
17 No1_283K-0.dps
18 No1_298K-0.dps
19 No1_308K-0.dps
20 No1_318K-0.dps
21 No1_328K-0.dps
22 No1_338K-0.dps
23 No1_348K-0.dps
24 No2_273K-0.dps
25 No2_283K-0.dps
26 No2_298K-0.dps
27 No2_308K-0.dps
28 No2_318K-0.dps
29 No2_328K-0.dps
30 No2_338K-0.dps
31 No2_348K-0.dps
32 No3_273K-0.dps
33 No3_283K-0.dps
34 No3_298K-0.dps
35 No3_308K-0.dps
36 No3_318K-0.dps
37 No3_328K-0.dps
38 No3_338K-0.dps
39 No3_348K-0.dps
40 S7_273K-0.dps
41 S7_283K-0.dps
42 S7_298K-0.dps
43 S7_308K-0.dps
44 S7_318K-0.dps
45 S7_328K-0.dps
46 S7_338K-0.dps
47 S7_348K-0.dps

打开文件(.dps or .csv)
======
重复打开同一文件夹内文件时由此操作

快速操作
=======
当确认文件夹无误之后，就可以使用整合的批处理函数快速抽取目录内所有文件的信息并输出

In [153]:
def openFile_data(newPath):
    fileList =os.listdir(newPath)
    df_raw_tp = pd.DataFrame()
    for fileName in fileList :
        if re.search(r'.dps',fileName) :
            str_tp = fileName
            try:
                filePath= os.path.join(newPath,str_tp)
                with open(filePath,'r') as file:
                    print('Open '+ filePath)
            except os.path.join(mainPath,str_tp):
                filePath= os.path.join(newPath,str_tp)
                with open(filePath,'r') as file:
                    print('Open '+ filePath)
            except FileNotFoundError:
                continue
            
            df_1 = pd.read_csv(filePath,sep="\t",header=None)
            df_0 = pd.DataFrame(['0','time',fileName]).T
            df_1 = pd.concat([df_0,df_1],axis=0,join='outer').iloc[:,1:]
            df_1 = df_1.reset_index(drop=True)
            df_1=df_1.T
            if df_raw_tp.shape == (0, 0):
                df_raw_tp = df_1
            elif checkFile(fileName,list(df_raw.iloc[:,0])) == 0:
                df_2=pd.DataFrame(df_1.copy().loc[2]).T
                df_raw_tp = df_raw_tp.reset_index(drop= True)
                df_raw_tp=pd.concat([df_raw_tp,df_2],axis=0,join='outer',ignore_index=True)
            else:
                continue
    return df_raw_tp

In [154]:
def openFile_sample(newPath):
    fileList =os.listdir(newPath)
    df_sample = pd.DataFrame(['number','name','sample','temperature'])
    for fileName in fileList :
        if re.search(r'.dps',fileName) :
            str_tp = fileName
            try:
                filePath= os.path.join(newPath,str_tp)
                with open(filePath,'r') as file:
                    print('Open '+ filePath)
            except os.path.join(newPath,str_tp):
                filePath= os.path.join(newPath,str_tp)
                with open(filePath,'r') as file:
                    print('Open '+ filePath)
            except FileNotFoundError:
                continue
            df_temp = pd.DataFrame(index=range(4),columns=range(1))
            #记录文件名
            df_temp.iloc[1]=str_tp
            #记录样品名
            name_pattern = re.search(r'^(.+)(?=_)',str_tp)
            df_temp.iloc[2]=name_pattern.group()
            #记录温度
            #temp_pattern = re.search(r'(\d+)K',newPath)
            temp_pattern = re.search(r'(\d+)K',str_tp)
            df_temp.iloc[3]=temp_pattern.group()

            #保存到df_sample
            if checkFile(fileName,df_sample.iloc[1,:])==0:
                df_sample = pd.concat([df_sample,df_temp],axis=1,join='outer',ignore_index=True)
            else:
                continue
            
    return df_sample

In [191]:
workPath=input('work path')
df_work_data = openFile_data(workPath)
df_work_sample = openFile_sample(workPath)
print(df_work_data)
print()
print(df_work_sample)

Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\CHS_T1_273K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\CHS_T1_283K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\CHS_T1_298K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\CHS_T1_308K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\CHS_T1_318K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\CHS_T1_328K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\CHS_T1_338K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\CHS_T1_348K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No1_273K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No1_283K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No1_298K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No1_308K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No1_318K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No1_328K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No1_338K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No1_348K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No2_273K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No2_283K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No2_298K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No2_308K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No2_318K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No2_328K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No2_338K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No2_348K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No3_273K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No3_283K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No3_298K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No3_308K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No3_318K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No3_328K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No3_338K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No3_348K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\S7_273K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\S7_283K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\S7_298K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\S7_308K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\S7_318K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\S7_328K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\S7_338K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\S7_348K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\CHS_T1_273K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\CHS_T1_283K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\CHS_T1_298K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\CHS_T1_308K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\CHS_T1_318K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\CHS_T1_328K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\CHS_T1_338K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\CHS_T1_348K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No1_273K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No1_283K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No1_298K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No1_308K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No1_318K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No1_328K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No1_338K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No1_348K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No2_273K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No2_283K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No2_298K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No2_308K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No2_318K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No2_328K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No2_338K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No2_348K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No3_273K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No3_283K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No3_298K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No3_308K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No3_318K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No3_328K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No3_338K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\No3_348K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\S7_273K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\S7_283K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\S7_298K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\S7_308K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\S7_318K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\S7_328K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\S7_338K-0.dps
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\S7_348K-0.dps
                  0          1          2          3          4          5    \
0                time       -0.0    0.00064    0.00128    0.00192    0.00256
1   CHS_T1_273K-0.dps   38.25852  36.827535  35.995928  35.389724  34.756654
2   CHS_T1_283K-0.dps  62.328069  60.775334  59.708556   58.67231  57.764741
3      No1_273K-0.dps  22.471899  21.246499   20.72383  19.558207  18.333394
4      No1_283K-0.dps  20.870193  19.267243  18.586689  18.035643   17.37408
5      No2_273K-0.dps  22.395489  20.572078  19.689884  18.654358  17.421083
6      No2_283K-0.dps  22.852492  21.156511  20.181672  19.112669  18.020468
7      No3_273K-0.dps  53.753702  52.341335   51.90687  51.333499   50.36956
8      No3_283K-0.dps  39.801047  38.776973  38.258201  37.845859  37.510351
9       S7_273K-0.dps  39.597881  38.202376   37.47381  36.870644  36.200847
10      S7_283K-0.dps  62.575256   60.89912  59.862629  58.961099  58.176055

          6          7          8          9    ...        302        303  \
0      0.0032    0.00384    0.00448    0.00512  ...    0.19264    0.19328
1   33.985138  33.180093  32.504818  31.946618  ...    5.33661   5.294102
2   57.186991  56.720451  56.029389  55.072051  ...  20.472967  20.247657
3   17.599896  17.100805  16.240761  15.032824  ...   0.083843   0.021524
4   16.314572  15.110957  14.247736  13.778614  ...  -0.111534   0.000651
5   16.087055  14.843163  13.731245  12.727878  ...   0.300994   0.401979
6   16.939565  15.959144  15.034629   13.88557  ...   0.339902   0.379109
7   49.391465  48.742795  48.281158  47.679054  ...  -0.030603  -0.084339
8   37.182526  36.772366  36.319235  35.864586  ...   0.267591   0.093339
9   35.366436  34.421534  33.542343  32.744029  ...   4.617608    4.56854
10  57.466456  56.525574  55.359065   54.33065  ...  19.832047  19.744626

          304        305        306        307        308        309  \
0     0.19392    0.19456     0.1952    0.19584    0.19648    0.19712
1    5.159444   5.050882   5.064046   5.127388   5.139313    5.04686
2   20.333627  20.578807  20.689564    20.6396  20.517533  20.389204
3    0.050629   0.383748   0.803938   0.923685   0.722834   0.430218
4    0.251058   0.308516   0.121265   0.039061   0.301005   0.511886
5    0.527126   0.644763   0.724968   0.776029   0.715629   0.420684
6    0.394824   0.312832   0.275414   0.302994   0.242377   0.086317
7   -0.028657   0.079953   0.226999    0.53109   0.931274   1.045039
8   -0.009297   -0.02694   0.030164   0.203847   0.446586   0.604238
9    4.372472   4.252533   4.229249   4.155008   4.073263   4.095627
10  19.645942  19.510229  19.303081  19.105694  19.046401  19.134684

          310        311
0     0.19776     0.1984
1    4.934275   4.918633
2    20.32504  20.341629
3    0.174093  -0.037127
4    0.297345  -0.043881
5    0.064422   0.013397
6   -0.019949  -0.067206
7    0.656671   0.140937
8    0.488607   0.119425
9    4.171399   4.163024
10  19.282298  19.419547

[11 rows x 312 columns]

            0                  1                  2                  3   \
0       number                NaN                NaN                NaN
1         name  CHS_T1_273K-0.dps  CHS_T1_283K-0.dps  CHS_T1_298K-0.dps
2       sample             CHS_T1             CHS_T1             CHS_T1
3  temperature               273K               283K               298K

                  4                  5                  6                  7   \
0                NaN                NaN                NaN                NaN
1  CHS_T1_308K-0.dps  CHS_T1_318K-0.dps  CHS_T1_328K-0.dps  CHS_T1_338K-0.dps
2             CHS_T1             CHS_T1             CHS_T1             CHS_T1
3               308K               318K               328K               338K

                  8               9   ...              31              32  \
0                NaN             NaN  ...             NaN             NaN
1  CHS_T1_348K-0.dps  No1_273K-0.dps  ...  No3_338K-0.dps  No3_348K-0.dps
2             CHS_T1             No1  ...             No3             No3
3               348K            273K  ...            338K            348K

              33             34             35             36             37  \
0            NaN            NaN            NaN            NaN            NaN
1  S7_273K-0.dps  S7_283K-0.dps  S7_298K-0.dps  S7_308K-0.dps  S7_318K-0.dps
2             S7             S7             S7             S7             S7
3           273K           283K           298K           308K           318K

              38             39             40
0            NaN            NaN            NaN
1  S7_328K-0.dps  S7_338K-0.dps  S7_348K-0.dps
2             S7             S7             S7
3           328K           338K           348K

[4 rows x 41 columns]

代入全局df
======

In [156]:
df_raw=df_work_data
df_sample=df_work_sample

In [135]:

print('now in' + newPath)
fileList =os.listdir(newPath)
showDir(fileList)
print(df_sample)
str_tp = input('Input document to open:\nOr input back to go back to mainPaht')
if str_tp == 'back':
    newPath=mainPath
    fileList = os.listdir(newPath)
elif str_tp == 'skip':
    print('Still in ' + newPath)
else :
    try:
        fileName = fileList[int(str_tp)]
        filePath= os.path.join(newPath,fileList[int(str_tp)])
        with open(filePath,'r') as file:
            print('Open '+ filePath)
    except os.path.join(mainPath,str_tp):
        fileName = str_tp
        filePath= os.path.join(newPath,str_tp)
        with open(filePath,'r') as file:
            print('Open '+ filePath)
    except FileNotFoundError:
        print('Wrong dir!')

now inC:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\298k
0 autotable.atb
1 CHS_T1-cpmg.dps
2 CHS_T1-cpmg.par
3 CHS_T1-mse.dps
4 CHS_T1.dps
5 log.txt
6 No1-cpmg.dps
7 No1-cpmg.par
8 No1-mse.dps
9 No1-mse20240422160442.dps
10 No1-mse20240422161818.dps
11 No1.dps
12 No2-cpmg.dps
13 No2-cpmg.par
14 No2-mse.dps
15 No2.dps
16 No3-cpmg.dps
17 No3-cpmg.par
18 No3-mse.dps
19 No3.dps
20 S7-cpmg.dps
21 S7-cpmg.par
22 S7-mse.dps
23 S7.dps
            0               1               2                  3   \
0       number             NaN             NaN                NaN
1         name  CHS_T1-mse.dps  No1_273K-0.dps  CHS_T1_273K-0.dps
2       sample             CHS             No1             CHS_T1
3  temperature            273K            273K               273K

               4               5              6                  7   \
0             NaN             NaN            NaN                NaN
1  No2_273K-0.dps  No3_273K-0.dps  S7_273K-0.dps  CHS_T1_283K-0.dps
2             No2             No3             S7             CHS_T1
3            273K            273K           273K               283K

               8               9               10             11
0             NaN             NaN             NaN            NaN
1  No1_283K-0.dps  No2_283K-0.dps  No3_283K-0.dps  S7_283K-0.dps
2             No1             No2             No3             S7
3            283K            283K            283K           283K
Open C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\298k\CHS_T1-mse.dps

打开文件
======

In [136]:



#filePath=input('input path')
str_tp = fileName
df_temp = pd.DataFrame(index=range(4),columns=range(1))
#记录文件名
df_temp.iloc[1]=str_tp
#记录样品名
name_pattern = re.search(r'^(.+)(?=_)',str_tp)
df_temp.iloc[2]=name_pattern.group()
#记录温度
#temp_pattern = re.search(r'(\d+)K',newPath)
temp_pattern = re.search(r'(\d+)K',str_tp)
df_temp.iloc[3]=temp_pattern.group()

#保存到df_sample
if checkFile(fileName,df_sample.iloc[1,:])==0:
    df_sample = pd.concat([df_sample,df_temp],axis=1,join='outer',ignore_index=True)
else:
    print('Data exist')
print(df_sample)

AttributeError: 'NoneType' object has no attribute 'group'

创建用于记录.dps 文件内容的DataFrame
======

In [124]:

print('Read ' + filePath)

df_1 = pd.read_csv(filePath,sep="\t",header=None)
df_0 = pd.DataFrame(['0','time',fileName]).T
df_1 = pd.concat([df_0,df_1],axis=0,join='outer').iloc[:,1:]
df_1 = df_1.reset_index(drop=True)
df_1

Read C:\Users\ikeno\Desktop\Pojects\DataProcessing_test\row_data\283K\S7_283K-0.dps

           1              2
0       time  S7_283K-0.dps
1       -0.0      62.575256
2    0.00064       60.89912
3    0.00128      59.862629
4    0.00192      58.961099
..       ...            ...
307  0.19584      19.105694
308  0.19648      19.046401
309  0.19712      19.134684
310  0.19776      19.282298
311   0.1984      19.419547

[312 rows x 2 columns]

合并临时df_1和所有数据的df_raw中的内容
======

In [125]:
print(df_raw.reset_index(drop= True))

                  0          1          2          3          4          5    \
0                time       -0.0    0.00064    0.00128    0.00192    0.00256
1      CHS_T1-mse.dps  64.139784  62.354074  61.206378  60.383524  59.649103
2                time       -0.0    0.00064    0.00128    0.00192    0.00256
3      No1_273K-0.dps  22.471899  21.246499   20.72383  19.558207  18.333394
4   CHS_T1_273K-0.dps   38.25852  36.827535  35.995928  35.389724  34.756654
5      No2_273K-0.dps  22.395489  20.572078  19.689884  18.654358  17.421083
6      No3_273K-0.dps  53.753702  52.341335   51.90687  51.333499   50.36956
7       S7_273K-0.dps  39.597881  38.202376   37.47381  36.870644  36.200847
8   CHS_T1_283K-0.dps  62.328069  60.775334  59.708556   58.67231  57.764741
9      No1_283K-0.dps  20.870193  19.267243  18.586689  18.035643   17.37408
10     No2_283K-0.dps  22.852492  21.156511  20.181672  19.112669  18.020468
11     No3_283K-0.dps  39.801047  38.776973  38.258201  37.845859  37.510351

          6          7          8          9    ...        302        303  \
0      0.0032    0.00384    0.00448    0.00512  ...    0.19264    0.19328
1   58.879769   58.07127  57.305646  56.567364  ...  23.996985  23.951022
2      0.0032    0.00384    0.00448    0.00512  ...    0.19264    0.19328
3   17.599896  17.100805  16.240761  15.032824  ...   0.083843   0.021524
4   33.985138  33.180093  32.504818  31.946618  ...    5.33661   5.294102
5   16.087055  14.843163  13.731245  12.727878  ...   0.300994   0.401979
6   49.391465  48.742795  48.281158  47.679054  ...  -0.030603  -0.084339
7   35.366436  34.421534  33.542343  32.744029  ...   4.617608    4.56854
8   57.186991  56.720451  56.029389  55.072051  ...  20.472967  20.247657
9   16.314572  15.110957  14.247736  13.778614  ...  -0.111534   0.000651
10  16.939565  15.959144  15.034629   13.88557  ...   0.339902   0.379109
11  37.182526  36.772366  36.319235  35.864586  ...   0.267591   0.093339

          304        305        306        307        308        309  \
0     0.19392    0.19456     0.1952    0.19584    0.19648    0.19712
1   23.942275  23.907539  23.829183  23.702357   23.58252  23.546848
2     0.19392    0.19456     0.1952    0.19584    0.19648    0.19712
3    0.050629   0.383748   0.803938   0.923685   0.722834   0.430218
4    5.159444   5.050882   5.064046   5.127388   5.139313    5.04686
5    0.527126   0.644763   0.724968   0.776029   0.715629   0.420684
6   -0.028657   0.079953   0.226999    0.53109   0.931274   1.045039
7    4.372472   4.252533   4.229249   4.155008   4.073263   4.095627
8   20.333627  20.578807  20.689564    20.6396  20.517533  20.389204
9    0.251058   0.308516   0.121265   0.039061   0.301005   0.511886
10   0.394824   0.312832   0.275414   0.302994   0.242377   0.086317
11  -0.009297   -0.02694   0.030164   0.203847   0.446586   0.604238

         310        311
0    0.19776     0.1984
1   23.56838  23.590292
2    0.19776     0.1984
3   0.174093  -0.037127
4   4.934275   4.918633
5   0.064422   0.013397
6   0.656671   0.140937
7   4.171399   4.163024
8   20.32504  20.341629
9   0.297345  -0.043881
10 -0.019949  -0.067206
11  0.488607   0.119425

[12 rows x 312 columns]

In [126]:
df_1=df_1.T
print(df_1)

             0          1         2          3          4          5    \
1           time       -0.0   0.00064    0.00128    0.00192    0.00256
2  S7_283K-0.dps  62.575256  60.89912  59.862629  58.961099  58.176055

         6          7          8         9    ...        302        303  \
1     0.0032    0.00384    0.00448   0.00512  ...    0.19264    0.19328
2  57.466456  56.525574  55.359065  54.33065  ...  19.832047  19.744626

         304        305        306        307        308        309  \
1    0.19392    0.19456     0.1952    0.19584    0.19648    0.19712
2  19.645942  19.510229  19.303081  19.105694  19.046401  19.134684

         310        311
1    0.19776     0.1984
2  19.282298  19.419547

[2 rows x 312 columns]

In [127]:

if df_raw.shape == (0, 0):
    df_raw = df_1
elif checkFile(fileName,list(df_raw.iloc[:,0])) == 0:
    df_2=pd.DataFrame(df_1.copy().loc[2]).T
    df_raw_tp = df_raw.reset_index(drop= True)
    df_raw_tp=df_raw_tp
    df_raw_tp=pd.concat([df_raw_tp,df_2],axis=0,join='outer',ignore_index=True)
else :
    print('Data exist')
df_raw=df_raw_tp
df_raw

,0,1,2,3,4,5,6,7,8,9,...,302,303,304,305,306,307,308,309,310,311
0,time,-0.0,0.00064,0.00128,0.00192,0.00256,0.0032,0.00384,0.00448,0.00512,...,0.19264,0.19328,0.19392,0.19456,0.1952,0.19584,0.19648,0.19712,0.19776,0.1984
1,CHS_T1-mse.dps,64.139784,62.354074,61.206378,60.383524,59.649103,58.879769,58.07127,57.305646,56.567364,...,23.996985,23.951022,23.942275,23.907539,23.829183,23.702357,23.58252,23.546848,23.56838,23.590292
2,time,-0.0,0.00064,0.00128,0.00192,0.00256,0.0032,0.00384,0.00448,0.00512,...,0.19264,0.19328,0.19392,0.19456,0.1952,0.19584,0.19648,0.19712,0.19776,0.1984
3,No1_273K-0.dps,22.471899,21.246499,20.72383,19.558207,18.333394,17.599896,17.100805,16.240761,15.032824,...,0.083843,0.021524,0.050629,0.383748,0.803938,0.923685,0.722834,0.430218,0.174093,-0.037127
4,CHS_T1_273K-0.dps,38.25852,36.827535,35.995928,35.389724,34.756654,33.985138,33.180093,32.504818,31.946618,...,5.33661,5.294102,5.159444,5.050882,5.064046,5.127388,5.139313,5.04686,4.934275,4.918633
5,No2_273K-0.dps,22.395489,20.572078,19.689884,18.654358,17.421083,16.087055,14.843163,13.731245,12.727878,...,0.300994,0.401979,0.527126,0.644763,0.724968,0.776029,0.715629,0.420684,0.064422,0.013397
6,No3_273K-0.dps,53.753702,52.341335,51.90687,51.333499,50.36956,49.391465,48.742795,48.281158,47.679054,...,-0.030603,-0.084339,-0.028657,0.079953,0.226999,0.53109,0.931274,1.045039,0.656671,0.140937
7,S7_273K-0.dps,39.597881,38.202376,37.47381,36.870644,36.200847,35.366436,34.421534,33.542343,32.744029,...,4.617608,4.56854,4.372472,4.252533,4.229249,4.155008,4.073263,4.095627,4.171399,4.163024
8,CHS_T1_283K-0.dps,62.328069,60.775334,59.708556,58.67231,57.764741,57.186991,56.720451,56.029389,55.072051,...,20.472967,20.247657,20.333627,20.578807,20.689564,20.6396,20.517533,20.389204,20.32504,20.341629
9,No1_283K-0.dps,20.870193,19.267243,18.586689,18.035643,17.37408,16.314572,15.110957,14.247736,13.778614,...,-0.111534,0.000651,0.251058,0.308516,0.121265,0.039061,0.301005,0.511886,0.297345,-0.043881
10,No2_283K-0.dps,22.852492,21.156511,20.181672,19.112669,18.020468,16.939565,15.959144,15.034629,13.88557,...,0.339902,0.379109,0.394824,0.312832,0.275414,0.302994,0.242377,0.086317,-0.019949,-0.067206
11,No3_283K-0.dps,39.801047,38.776973,38.258201,37.845859,37.510351,37.182526,36.772366,36.319235,35.864586,...,0.267591,0.093339,-0.009297,-0.02694,0.030164,0.203847,0.446586,0.604238,0.488607,0.119425
12,S7_283K-0.dps,62.575256,60.89912,59.862629,58.961099,58.176055,57.466456,56.525574,55.359065,54.33065,...,19.832047,19.744626,19.645942,19.510229,19.303081,19.105694,19.046401,19.134684,19.282298,19.419547

整理录入的数据
======

In [192]:
df_tp = df_work_data.sort_values(by=[0])
df_work_data=df_tp

In [194]:
df_work_sample =df_work_sample.T
df_tp = df_work_sample
df_tp_key = df_tp.values.tolist()[0]
df_tp.drop([0],inplace=True)
df_tp.columns = df_tp_key
df_work_sample

   number               name  sample temperature
1     NaN  CHS_T1_273K-0.dps  CHS_T1        273K
2     NaN  CHS_T1_283K-0.dps  CHS_T1        283K
3     NaN  CHS_T1_298K-0.dps  CHS_T1        298K
4     NaN  CHS_T1_308K-0.dps  CHS_T1        308K
5     NaN  CHS_T1_318K-0.dps  CHS_T1        318K
6     NaN  CHS_T1_328K-0.dps  CHS_T1        328K
7     NaN  CHS_T1_338K-0.dps  CHS_T1        338K
8     NaN  CHS_T1_348K-0.dps  CHS_T1        348K
9     NaN     No1_273K-0.dps     No1        273K
10    NaN     No1_283K-0.dps     No1        283K
11    NaN     No1_298K-0.dps     No1        298K
12    NaN     No1_308K-0.dps     No1        308K
13    NaN     No1_318K-0.dps     No1        318K
14    NaN     No1_328K-0.dps     No1        328K
15    NaN     No1_338K-0.dps     No1        338K
16    NaN     No1_348K-0.dps     No1        348K
17    NaN     No2_273K-0.dps     No2        273K
18    NaN     No2_283K-0.dps     No2        283K
19    NaN     No2_298K-0.dps     No2        298K
20    NaN     No2_308K-0.dps     No2        308K
21    NaN     No2_318K-0.dps     No2        318K
22    NaN     No2_328K-0.dps     No2        328K
23    NaN     No2_338K-0.dps     No2        338K
24    NaN     No2_348K-0.dps     No2        348K
25    NaN     No3_273K-0.dps     No3        273K
26    NaN     No3_283K-0.dps     No3        283K
27    NaN     No3_298K-0.dps     No3        298K
28    NaN     No3_308K-0.dps     No3        308K
29    NaN     No3_318K-0.dps     No3        318K
30    NaN     No3_328K-0.dps     No3        328K
31    NaN     No3_338K-0.dps     No3        338K
32    NaN     No3_348K-0.dps     No3        348K
33    NaN      S7_273K-0.dps      S7        273K
34    NaN      S7_283K-0.dps      S7        283K
35    NaN      S7_298K-0.dps      S7        298K
36    NaN      S7_308K-0.dps      S7        308K
37    NaN      S7_318K-0.dps      S7        318K
38    NaN      S7_328K-0.dps      S7        328K
39    NaN      S7_338K-0.dps      S7        338K
40    NaN      S7_348K-0.dps      S7        348K

保存当前数据
======

In [195]:
#创建文件夹保存当前数据
date = input('Input date today')
os.chdir(mainPath)
try:
    os.makedirs(date)
except FileExistsError :
    print('{date} existed')
finally:
    print('Successed')
name = input('input save name of nmr data')
df_raw.to_csv(fr'{mainPath}\{date}\{name}.csv') 
name = input('input save name of sample data')
df_sample.to_csv(fr'{mainPath}\{date}\{name}.csv')

{date} existed
Successed